<h1>All Events</h1>
<a href="<%= event_path(@conn, :create) %>" class="btn btn-primary pull-right">Add Event</a>
<%= render RsvpWeb.SharedView, "count.html", list: @events %>
<div class="list-group">
    <%= for event <- @events do %>
        <%= render "summary.html", conn: @conn, event: event %>
    <% end %>
</div>
